@font-face{
    font-family:'BusanBada'; 
    src:url(../../font/intro/BusanBada.ttf) format('truetype');
}

html,body{    
    background-color:#FFDB47;
    height: 100%;
    width: 100%;
}

label{
    position: relative;
    top:2.5vw;
    left: 4.5vw;
    font-family: 'BusanBada';
    font-size: 4.5vw;
    color: #fff;
    line-height: 6vw;
}

/*.vertical{position: absolute;}*/

/* �뵓怨뚯뫓占쎈괏�뜝�럩�뮒占썩뫅�삕 */
#saveBtn {
	border-style:none;
    position: absolute;
    border-radius: 0.6em;
    background-color: #fff;
    width: 12vw;
    height: 5vh;
    right: 6vh;
    bottom: 3vh;
 
    /* line-height: .5em; */
    color: #89918C;
    text-align: center;    
    font-family: 'BusanBada';
    font-size: 1rem;
    padding-top: 1.5vh;
}

#saveBtn:hover{
    background:#89918C;
    color: #fff;  
}





