<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../css/Ph_main.css">
    <link rel="stylesheet" href="../css/Ph_main_event.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js'></script>
    <script src="../js/slideEvent.js"></script>

<!-- 두번째 이벤트 효과 후 화면 전환 -->    
<script>    
    function mouseOut(){
        document.getElementById("img").src ="../images/bg/play_change.jpg"
    }
</script>
	<meta charset="UTF-8">
	<title>쉴래? 놀래?</title>

</head>
	<body>
		<div id="wrap">
			<div id="container">
				<div id="slide01" class="background">
					<div class="content-wrapper">
						<h1 class="content-title">
                           <p class="bgimg">
                            <img src="../images/icon/balloon.png"></p>
                            <p class="textTitle">나는<br>아무것도<br>하기싫다...</p>
                        </h1>
						<p class="content-p"></p>
					</div>
				</div>
	           <!-- 2번째 인트로 부분 -->
				<div id="slide02" class="background">
					<div class="content-wrapper2">
                        <section class="flexTxt">
                            <p><img src="../images/icon/play_ring.png"></p>
                          <a href="rest.html" class="clickRest"></a>
                       	</section>
                        
						<section class="flexTxt">
                            <p><img src="../images/icon/rest_ring.png"></p>
	                       <a href="playSelect.html" class="clickPlay"></a>
						</section>
					</div>
				</div> 
			</div>
		<!-- container -->
	</div>
	</body>
</html>